﻿@{
    ViewBag.Title = "About";
}

<div class="container">
    <hr>
    <div class="row">
        <div class="span8">
            <div class="well">
                <h1>About</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a lorem nec dolor suscipit posuere in id erat. Quisque accumsan pharetra commodo. Morbi sit amet lectus leo, faucibus facilisis felis. Aenean hendrerit nibh non leo elementum nec tristique nisl dictum. Suspendisse id felis massa, ac dapibus eros. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam erat volutpat. Pellentesque mollis varius nisl. Sed non velit tincidunt eros pulvinar molestie facilisis et est. Donec sem elit, eleifend quis sagittis non, porttitor nec orci. Aenean ut nisl est, sed tincidunt justo. Quisque elementum pharetra metus, in ornare nisi accumsan placerat. Integer volutpat lectus sed urna pretium tincidunt. Sed dui libero, congue nec eleifend tristique, pharetra eget odio. Aenean at est velit, sed posuere ligula. Nulla condimentum elit ac mauris rutrum tempor.</p>
                <ul>
                    <li>Sed non velit tincidunt eros pulvinar</li>
                    <li>Nulla condimentum elit</li>
                    <li>Sed non velit tincidunt eros pulvinar</li>
                    <li>Nulla condimentum elit</li>
                </ul>
                <p>In interdum rhoncus pharetra. Vivamus diam sem, commodo faucibus vestibulum dictum, suscipit id nulla. Sed est tortor, imperdiet vel pellentesque in, egestas at diam. Donec auctor suscipit dignissim. Donec enim quam, accumsan a feugiat ac, adipiscing nec ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam placerat consequat nibh. Nulla erat justo, pharetra eu dignissim at, sollicitudin eu arcu.</p>
                <ol>
                    <li>Sed non velit tincidunt eros pulvinar</li>
                    <li>Nulla condimentum elit</li>
                    <li>Sed non velit tincidunt eros pulvinar</li>
                    <li>Nulla condimentum elit</li>
                </ol>
                <p>Phasellus suscipit purus in enim pharetra id viverra ante porta. Vestibulum faucibus dictum eleifend. Pellentesque enim orci, tristique id ultrices at, posuere eu diam. Aliquam vel pharetra justo. Ut rutrum pellentesque dolor quis fringilla. Donec tempor eleifend nisi quis ullamcorper. Nullam quis massa ante, at ullamcorper mi. Proin dictum mi fermentum risus sodales posuere. Fusce sollicitudin sagittis pulvinar. Proin eu ipsum ac neque aliquet posuere. Maecenas a mauris nisi.</p>
            </div>
        </div>
        <div class="span4">
            
            <table border="1" style="width:300px; height:200px;">
                <tr>
                    <th>ÜYELERİN ADI SOYADI</th>
                    <th>İLETİŞİM ADRESİ</th>
                </tr>
                <tr>
                    <td>Seda Bilgin</td>
                    <td>sedabilgn@gmail.com</td>
                </tr>
                <tr>
                    <td>Ela Deniz</td>
                    <td>eladeniz@gmail.com</td>
                </tr>
                <tr>
                    <td colspan="2"><a href="#">Daha Fazla İletişim Adresi</a></td>
                    
                </tr>
            </table>
           
            <h3>Deep Sky <small> By <a href="#">Srawat56</a></small></h3>
            <a href="#"><img src="img/thumb1.jpg" alt=""></a>
            <h3>Deep Sky <small> By <a href="#">Srawat56</a></small></h3>
            <a href="#"><img src="img/thumb1.jpg" alt=""></a>
        </div>
    </div>
    <!--Start second row of columns-->
    <div class="row">
        <div class="span4">
            <h3>Column One</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat sem vel nibh bibendum auctor. Nullam non magna in quam egestas blandit a a justo. Integer vel rhoncus tellus. Vivamus et iaculis tortor. Quisque fermentum arcu dolor. Duis mollis libero et ipsum euismod sed gravida sem pretium. Aliquam eu eros at velit laoreet rhoncus. Nulla a urna eu diam cursus tempor.</p>
        </div>
        <div class="span4">
            <h3>Column Two</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat sem vel nibh bibendum auctor. Nullam non magna in quam egestas blandit a a justo. Integer vel rhoncus tellus. Vivamus et iaculis tortor. Quisque fermentum arcu dolor. Duis mollis libero et ipsum euismod sed gravida sem pretium. Aliquam eu eros at velit laoreet rhoncus. Nulla a urna eu diam cursus tempor.</p>
        </div>
        <div class="span4">
            <h3>Column Three</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat sem vel nibh bibendum auctor. Nullam non magna in quam egestas blandit a a justo. Integer vel rhoncus tellus. Vivamus et iaculis tortor. Quisque fermentum arcu dolor. Duis mollis libero et ipsum euismod sed gravida sem pretium. Aliquam eu eros at velit laoreet rhoncus. Nulla a urna eu diam cursus tempor.</p>
        </div>
    </div>
</div>