﻿@{
    ViewBag.Title = "Contact";
}
<div class="container">
    <hr>
    <div class="row">
        <div class="span8">
            <h1>Contact</h1>
            <form class="well" action="#">
                <input type="text" class="span4" placeholder="Name">
                <br>
                <input type="email" class="span4" placeholder="Email">
                <br>
                <input type="text" class="span4" placeholder="Subject">
                <br>
                <textarea class="span7" placeholder="Message"></textarea>
                <span class="help-block">Did you fill in all of the fields?</span>
                <label class="checkbox">
                    <input type="checkbox">
                    This is worth contacting you about
                </label>
                <button type="submit" class="btn">Send</button>
            </form>
        </div>
        <div class="span4">
            <h3>Deep Sky <small> By <a href="#">Srawat56</a></small></h3>
            <a href="#"><img src="/Content/img/thumb1.jpg" alt=""></a>
            <h3>Deep Sky <small> By <a href="#">Srawat56</a></small></h3>
            <a href="#"><img src="/Content/img/thumb1.jpg" alt=""></a>
        </div>
    </div>
    <!--Start second row of columns-->
    <div class="row">
        <div class="span4">
            <h3>Column One</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat sem vel nibh bibendum auctor. Nullam non magna in quam egestas blandit a a justo. Integer vel rhoncus tellus. Vivamus et iaculis tortor. Quisque fermentum arcu dolor. Duis mollis libero et ipsum euismod sed gravida sem pretium. Aliquam eu eros at velit laoreet rhoncus. Nulla a urna eu diam cursus tempor.</p>
        </div>
        <div class="span4">
            <h3>Column Two</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat sem vel nibh bibendum auctor. Nullam non magna in quam egestas blandit a a justo. Integer vel rhoncus tellus. Vivamus et iaculis tortor. Quisque fermentum arcu dolor. Duis mollis libero et ipsum euismod sed gravida sem pretium. Aliquam eu eros at velit laoreet rhoncus. Nulla a urna eu diam cursus tempor.</p>
        </div>
        <div class="span4">
            <h3>Column Three</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat sem vel nibh bibendum auctor. Nullam non magna in quam egestas blandit a a justo. Integer vel rhoncus tellus. Vivamus et iaculis tortor. Quisque fermentum arcu dolor. Duis mollis libero et ipsum euismod sed gravida sem pretium. Aliquam eu eros at velit laoreet rhoncus. Nulla a urna eu diam cursus tempor.</p>
        </div>
    </div>
    <hr>
   
</div>