﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Gezginlerin Objektifi</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <title>Gezginlerin Objektifi</title>
   @*<link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">*@
    <!--[if lt IE 9]><script src="js/html5.js"></script><![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
   
   <style type="text/css"> 
#search_BH { 
} 
#search_BH input[type="text"] { 
    background: url(https://lh6.googleusercontent.com/-UrPIk8pMX0k/UT3FSFQG0vI/AAAAAAAAHtE/wKlxbPoWoW0/s15/search-dark.png) no-repeat 10px 6px #99c2ff; 
    border: 0 none; 
    font: bold 12px Arial,Helvetica,Sans-serif; 
    color: #777; 
    width: 150px; 
    padding: 3px 12px 3px 32px; 
    -webkit-border-radius: 20px; 
    -moz-border-radius: 20px; 
    border-radius: 20px; 
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); 
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset; 
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset; 
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset; 
    -webkit-transition: all 0.7s ease 0s; 
    -moz-transition: all 0.7s ease 0s; 
    -o-transition: all 0.7s ease 0s; 
    transition: all 0.7s ease 0s; 
    } 
#search_BH input[type="text"]:focus { 
    width: 200px; 
    } 

        a.classname {
            background: url("~/Content/img/tr.png") no-repeat top left;
            /*background : url('../../Content/img/tr.png') no-repeat top left;*/
            display: block;
            width: 50px;
            height: 50px;
            text-indent: -9999px; /* hides the link text */
        }
        th  {
            
            background-color : #e6faff;
       }
        td {
            background-color : #e6ccff;
        }
        table, th, td {
           
            border: 0px solid black;
            text-align: center;
            border-collapse: collapse;
        }
    </style>

</head>
<body >

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a> <a class="brand" href="index.html"><span style="color:#0066ff ;"><strong>Gezginlerin</strong> &nbsp; <small style="color:#0066ff ;">Objektifi</small></span></a>   @*class="color-highlight"*@
                <div align ="right" style="height:40px;">
                     <div class='widget-content' align="right" style="padding:10px; margin:10px;display:inline-block;">

                    <form method="get" action="/search" id="search_BH">
                        <input name="q" type="text" size="40" placeholder="Ara..." />
                    </form>

                </div>
                 <div align="right" style="margin-top:20px; display:inline-block;padding:10px; margin:10px;" >

                    <a href="@Url.Action("Index", "HomeController")">
                        <img style="width: 50px; height: 25px;" src="@Url.Content("~/Content/img/tr.png")" />
                    </a>

                    <a href="@Url.Action("Index", "HomeController")">
                        <img style="width: 50px; height: 25px;" src="@Url.Content("~/Content/img/en.png")" />
                    </a>

                </div>
                </div>
               
                <div class="nav-collapse" style="margin-top:0px; padding-top:0px; padding-bottom:20px;">

                           <ul class="nav pull-right">

                            <li>@Html.ActionLink("Ana Sayfa", "Index", "Home")</li>
                            <li>@Html.ActionLink("Hakkımızda", "Index", "Home")</li>
                            <li>@Html.ActionLink("İletişim", "Index", "Home")</li>
                            <li>@Html.ActionLink("Üye Ol", "Index", "Home")</li>
                            <li>@Html.ActionLink("Giriş Yap", "Index", "Home")</li>
                         
                        </ul>

                    <!--/.nav-collapse -->

                </div>
        </div>
    </div>
      </div>
    
    
        @RenderBody()
       
    <div class="container">
        <footer class="row">
            <div>
                <div class="span4">
                    <div class="is-padded">
                        <nav>
                            <h2>Hızlı Erişim</h2>
                            <hr>
                            <ul>
                                <li>@Html.ActionLink("Ana Sayfa", "Index", "Home")</li>
                                <li>@Html.ActionLink("Hakkımızda", "Index", "Home")</li>
                                <li>@Html.ActionLink("İletişim", "Index", "Home")</li>
                                <li>@Html.ActionLink("Üye Ol", "Index", "Home")</li>
                                <li>@Html.ActionLink("Giriş Yap", "Index", "Home")</li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="span4">
                    <div class="is-padded" align="center">
                        <h2>Sosyal Medya Hesapları</h2>
                        <hr><br />
                        <p style="font-family:Times New Roman; font-size:15px; ">Sosyal Medya Hesaplarımızdan güzellikleri keşfedin, takip edin.</p><br /><br />
                        <a href=http://www.facebook.com><img class="" alt="" height="15%" width="15%" src="~/Content/img/fbicon.jpeg" /></a> &nbsp;&nbsp;
                       
                       
                        <a href=http://www.twitter.com><img class="" alt="" height="15%" width="15%" src="~/Content/img/twicon.png" /></a> &nbsp;&nbsp;
                        
                        <a href=http://www.instagram.com><img class="" alt="" height="15%" width="15%" src="~/Content/img/instalogo.png" /></a> &nbsp;&nbsp;
                        
                      
                    </div>
                </div>
                <div class="span4">
                    <div class="is-padded" align="center" >
                        <h2>Gezginler Ekibi</h2>
                        <blockquote>
                           Gezginler Ekibi olarak her daim sizleri bilinen veya bilinmeyen yerlerin , keşfedilmemiş güzellikleriyle tanıştırıyoruz. Hedefimiz, gezmeyi çok seven ve gezdikleri yerlerdeki maceralarını, eğlencelerini insanlarla paylaşmak, rehber olmak, önerilerini aktarmak isteyenler için ve seyahat etmeyi düşünenlere yol gösterici rehber olmasını amaçladığımız bir platform oluşturmaktır. <br>
                            <br>
                            <em>- gezginlerinobjektifi.com</em>
                        </blockquote>
                    </div>
                </div>
            </div>
            <p>
                &copy; 2010
                <script>new Date().getFullYear()>2013&&document.write("-"+new Date().getFullYear());</script>,Gezginlerin Objektifi.<br>
                    
                    
</p>
        </footer>
        
   </div>
        

        <!-- /container -->
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/custom")

   
   

        <!--<script src="js/jquery-1.7.1.min.js"></script>-->
        @*<script src="js/bootstrap-transition.js"></script>
             <script src="js/bootstrap-carousel.js"></script>
             <script src="js/bootstrap-alert.js"></script>
             <script src="js/bootstrap-modal.js"></script>
             <script src="js/bootstrap-dropdown.js"></script>
             <script src="js/bootstrap-scrollspy.js"></script>
             <script src="js/bootstrap-tab.js"></script>
             <script src="js/bootstrap-tooltip.js"></script>
             <script src="js/bootstrap-popover.js"></script>
             <script src="js/bootstrap-button.js"></script>
             <script src="js/bootstrap-collapse.js"></script>
             <script src="js/bootstrap-typeahead.js"></script>
            <script src="js/jquery-ui-1.8.18.custom.min.js"></script>
             <script src="js/jquery.smooth-scroll.min.js"></script>
             <script src="js/lightbox.js"></script>*@
        <script>
            $('.carousel').carousel({
                interval: 5000
            })
        </script>

        @RenderSection("scripts", required: false)
</body>
</html>
